<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290442744695-8raugjhobo3ilebf0vqa7ksif0s941n0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290442744695-8raugjhobo3ilebf0vqa7ksif0s941n0</string>
	<key>API_KEY</key>
	<string>AIzaSyD5lceB9N8SAeR8h6MtkS14VC3JGNvKCOs</string>
	<key>GCM_SENDER_ID</key>
	<string>290442744695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ttzLeaveApplicationDemo</string>
	<key>PROJECT_ID</key>
	<string>ttz-leave-application-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>ttz-leave-application-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290442744695:ios:c30b10ac39670603fd8772</string>
</dict>
</plist>